* {
    font-family: 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vh;
}
.header-container {
    height: 100px;
    margin: 0px 10px 0px 10px;
    
} 

#blog-entries, #comment-section, .addcomment-btn {
    padding: 40px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry-card {
    display: flex;
    flex-direction: row;
}

#gif-img {
    max-width: 20vw;
    height: 100%;
}

#text-div {
    width: 80vw;
}

@media screen and (max-width: 900px){
    #entry-card{
       flex-direction: column;
    }
    #text-div {
        width: 100vw;
    }
    #gif-img {
        max-width: 50vw;
        height: 100%;
    }
 }

 #eBtn:hover{
    position: relative;
    top: -4px;
  }

.bg-navbar {
    background-color: orangered;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
}

.viewSearchButton:hover {
    border: solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    color: orangered;
}

.viewSearchButton {
    border: solid 0.5px;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color: white;
    margin: 20px
}

.comment {
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color:white;
    padding: 8px;
}

#emoji{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
    margin: -10px 40px 0 0 ;
}

.emojiBtn > button {
    border-radius: 40px;
    border: none;
    font-size: x-large;
}

#submitBtn{
    display:flex;
    justify-content: flex-end;
} 

#submitBtn > input {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
}

#get-form{
    border: 2px solid orangered;
    background-color: white;
    color: orangered;
}

#get-form:hover {
    background-color: orangered;
    color:white;
}

#submitComment:hover {
    border: 2px solid greenyellow;
    color: green;
    
}

