* {
    font-family: Arial, Helvetica, sans-serif;
}
.header-container {
    height: 100px;
    margin: 0px 10px 0px 10px;
    background-color: firebrick;
} 

.bg-navbar {
    background-color: orangered;
}

.recent-entries {
    padding: 40px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.searchButton {
    border: solid white;
    border-radius: 10px 10px 10px 10px;
    color: orangered;
}

.searchButton:hover {
    border: solid;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color: white;
}

.comment-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color:white;
    padding: 8px;

}
