* {
    font-family: 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vh;
}

.header-container {
    height: 100px;
    margin: 0px 10px 0px 10px;

}

.bg-navbar {
    background-color: orangered;
}

.recent-entries {
    padding: 15px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
}

.searchButton:hover {
    border: solid white;
    border-radius: 10px 10px 10px 10px;
    color: orangered;
    background-color: white;
}

.searchButton {
    border: 0.5px solid;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color: white;
    margin: 20px
}

.comment-button {
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 8px;
}

.comment-button:hover {
    border: solid orangered;
    text-decoration: none;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: orangered;
    padding: 8px;
}

.new-post-button {
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 8px;
}

.new-post-button:hover {
    border: solid orangered;
    text-decoration: none;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color: orangered;
    padding: 8px;
}

.postButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submitNewEntry {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#emoji {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}

.emojiBtn>button {
    border-radius: 50px;
    border: none;
    font-size: x-large;
}

.blogEntry {
    display: flex;
    gap: 20px;
    max-height: 200px;
    margin-bottom: 10px;


}

.addBtn {
    border: none;
    color:green;
    background-color: #fff;
}

.resetBtn {
    border: none;
    color: grey;
    background-color: #fff;
}


.submitNewEntry>input {
    background-color: white;
    color: orangered;
    border:2px solid orangered;
    border-radius: 10px;
    margin: 70px 20px;
}


.submitNewEntry>input:hover {
    border: 2px solid greenyellow;
    color: green;

}

#eBtn:hover {
    position: relative;
    top: -4px;
}


#searchGif {
    border: none;
    border-bottom: 1px solid orangered;
}

h5:hover{
    color: orangered;
    cursor: pointer;
}

p:hover{
    cursor: pointer;
}
