* {
    font-family: Arial, Helvetica, sans-serif;
}
.header-container {
    height: 100px;
    margin: 0px 10px 0px 10px;
    
} 

.bg-navbar {
    background-color: orangered;
}

.recent-entries {
    padding: 15px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
}

.searchButton:hover {
    border: solid white;
    border-radius: 10px 10px 10px 10px;
    color: orangered;
    background-color: white;
}

.searchButton {
    border: solid;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color: white;
    margin: 20px
}

.comment-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color:white;
    padding: 8px;
}

.comment-button:hover {
    border: solid orangered;
    text-decoration: none;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color:orangered;
    padding: 8px;
}

.new-post-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px 10px 10px 10px;
    color:white;
    padding: 8px;
}

.new-post-button:hover {
    border: solid orangered;
    text-decoration: none;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color:orangered;
    padding: 8px;
}

.postButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submitNewEntry {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#emoji{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* position: absolute; */
    z-index: 2;
    /* margin: 65px 40px 0 0; */
}

.emojiBtn > button {
    border-radius: 50px;
    border: none;
    font-size: x-large;
}

.blogEntry{
    display:flex;
    gap: 20px;
    max-height: 200px;
    margin-bottom: 10px;
    

}
.addBtn {
    border: 1px solid green;
    background-color: #fff;
}

.resetBtn {
    border: 1px solid black;
    background-color: #fff;
}

.submitNewEntry > input {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 70px 20px;
}
    

.submitNewEntry > input:hover {
    border: 2px solid greenyellow;
    color: green;
    
}

#eBtn:hover{
    position: relative;
    top: -4px;
  }


